*{

    padding: 0%;

    margin: 0%;

    font-family: sans-serif;

    box-sizing: border-box;

}

.hero{

    height: 100vh;

    width: 100%;

    background: #000;

    background-repeat: no-repeat;

    background-size: cover;

    background-position: top;

}



nav{

    display: flex;

    align-items: center;

    justify-content: space-between;

    padding-top: 45px;

    padding-left: 8%;

    padding-right: 8%;

}

.logo{

    color: white;

    font-size: 35px;

    letter-spacing: 1px;

    cursor: pointer;

}

span{

    color: #f9004d;

}

nav ul li{

    list-style-type: none;

    display: inline-block;

    padding: 10px 25px;

}

nav ul li a{

    color: white;

    text-decoration: none;

    font-weight: bold;

    text-transform: capitalize;

}

nav ul li a:hover{

    color: #f9004d;

    transition: .4s;

}

.btn{

    background-color: #f9004d;

    color: white;

    text-decoration: none;

    border: 2px solid transparent;

    font-weight: bold;

    padding: 10px 25px;

    border-radius: 30px;

    transition: .4s;

}

.btn:hover{

    transform: scale(1.2);

}

.menubar{

    height: 3px;

    width: 20px;

    background-color: rgb(252, 251, 255);

    margin-bottom: 3px;

}

.menu{

    cursor: pointer;

    display: none;

}

.showmenu{
    display: block;
    background-color: #728ba7;
    width: 150px;
    position: absolute;
    right: 20px;
    top: 65px;
}

.content{

    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);

}

h1{

    color: white;

    margin: 20px 0px 20px;

    font-size: 75px;


}

.content h1:hover{
      text-shadow: 0 0 25px rgb(247, 0, 255), 0 0 50px rgb(247, 0, 255), 0 0 75px rgb(247, 0, 255), 
      0 0 100px rgb(247, 0, 255), 0 0 200px rgb(247, 0, 255), 0 0 300px rgb(247, 0, 255);
}

h3{

    color: white;

    font-size: 25px;

    margin-bottom: 50px;

}

h4{

    color: #fcfc;

    letter-spacing: 2px;

    font-size: 20px;

}

.news form{

    width: 380px;

    max-width: 100%;

    position: relative;

}

.news form input:first-child{

    display: inline-block;

    width: 100%;

    padding: 14px 130px 14px 15px;

    border: 2px solid #f9004d;

    outline: none;

    border-radius: 30px;

}

.news form input:last-child{

    position: absolute;

    display: inline-block;

    outline: none;

    border: none;

    padding: 10px ;

    border-radius: 30px;

    background-color: #f9004d;

    color: white;

    box-shadow: 0px 0px 5px #000,0px 0px 15px #858585;

    top: 6px;

    right: 6px;

    width: 80px;

}

 /*media query*/



 @media (min-width:501px) and (max-width:768px)

 {

    html{

font-size: 65%;

    }

    .hero{

        background:gray;

        width: 100%;

    }

    nav{

        text-align: left;

        flex-direction: column;

    }

    nav ul li{

        flex-direction: column-reverse;

    }

    .content{

        font-size: 50%;

    }

 }



 @media (min-width:280px) and (max-width:500px)

 {

    html{

font-size: 65%;

    }

    .hero{

        width: 100%;

    }

   nav{

    flex-direction: column;

   }

    nav ul li{

        display: block;

        padding: 10px 0px;

    }

    nav ul{

        text-align: center;

        display: none;

    }

    .logo{

        align-self: flex-start;

    }

    .menu{

        display: block;

        position: absolute;

        right: 20px;

        top: 50px;

    }

    h1{

        margin: 20px 0px 20px;

        font-size: 30px;

    }

    h3{

        font-size: 10px;

        margin-bottom: 50px;

    }

    h4{

        letter-spacing: 2px;

        font-size: 8px;

    }

    .news form{

        width: 250px;

        max-width: 100%;

        position: relative;

    }

    .news form input:first-child{

        display: inline-block;

        width: 100%;

        padding: 6px;

        border: 1px solid #f9004d;

        outline: none;

        border-radius: 30px;

    }

    .news form input:last-child{

       

        padding: 2px 4px;

       font-size: 10px;

       

    }



  }
